extends /_layout/promo.pug

block meta
	- config.page.title = 'Home page';
	- config.page.description = 'Home page description';

	-
		var hero = {
			title: 'Targeted content delivery platform',
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.',
			community: [
				{
					icon: '',
					title: 'Developers',
			},
				{
					icon: '',
					title: 'Publishers',
				},
				{
					icon: '',
					title: 'Advertisers',
				},
			]
		};
	-
		var advantages = [
			{
				title: 'Attract new users',
				descr: 'Draw new interested audiences.',
				icon: 'new-users',
			},
			{
				title: 'New impressions',
				descr: 'Impressions specifically targeting your product.',
				icon: 'new-impressions',
				type: 'rtl',
			},
			{
				title: 'New markets',
				descr: 'Get new users from different countries.',
				icon: 'new-markets',
			},
		];

block hero
	section.hero.hero--home
		.hero__content
				.hero__top
					.container
						.hero__inner.row.align-items-center
							.col-12.col-xl-4
								h1.hero__title.title-1 #{hero.title}
							.col-12.col-xl-5
								.hero__subtitle #{hero.subtitle}
				.hero__bottom
					.container
						.hero__inner.row.align-items-center
							each item in hero.community
								.col-12.col-xl-4
									.community-group(class="community-group--" + item.title.toLowerCase())
										a.community-group__title(href="/" + item.title.toLowerCase() + ".html") #{item.title}
										.community-group__icon
											+svg('', item.title.toLowerCase() + '-icon', false, false)
		video.hero__video(autoplay muted loop playsinline poster="/img/world_poster.jpg")
			//- source(src="/video/world.webm" type="video/webm")
			source(src="/video/world2.mp4" type="video/mp4")

block advantages
	.advantages
		.container
			each adv in advantages
				section.advantages__item.advantage(class=(adv.type == 'rtl' ? 'advantage--rtl' : ''))
					.advantage__inner.row.align-items-center
						.col-4
							h2.advantage__title.title-1 #{adv.title}
						.col-4
							.advantage__descr #{adv.descr}
						.col-4
							.advantage__icon
								+svg(false, adv.icon, false, false)
	