extends /_layout/auth.pug

block append meta
	- config.page.title = 'Sign in';
	- config.page.description = 'Sign in page description';

	-
		var hero = {
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions.',
		}

	- var labelCol = 'col-12 col-sm-2 col-lg-4';
	- var inputCol = 'col-12 col-sm-10 col-lg-3';

block content
	form.form.form--signin.needs-validation(novalidate)
		.row
			div(class=labelCol)
			div(class=inputCol)
				.invalid-feedback
		.form-group.row
			div(class=labelCol)
				label(for="form-email-signin") Email
			div(class=inputCol)
				.input-group
					input#form-email-signin(type="email" placeholder="johndoe@gmail.com" required)
					i.icon-asterisk
		.form-group.row
			div(class=labelCol)
				label(for="form-password-signin") Password
			div(class=inputCol)
				.input-group
					input#form-password-signin(type="password" required)
					i.icon-asterisk
		.form-group.row
			div(class=labelCol)
			div(class=inputCol)
				label.input-group
					input.sr-only#form-agreement-signin(type="checkbox" name="form-agreement-signin")
					span.input-checkbox
						i.icon-check
					span.input-title Remember me
		.form-group.row
			div(class=labelCol)
			div(class=inputCol)
				button.btn(type="submit")
					i.icon-sign-in
					span Sign in