form.form.form--signup.form--dev.needs-validation(novalidate)
	.row
		div(class=labelCol)
		div(class=inputCol)
			.invalid-feedback
	.form-group.row
		div(class=labelCol)
			label(for="form-email-dev") Email
		div(class=inputCol)
			.input-group
				input#form-email-dev(type="email" placeholder="johndoe@gmail.com" required name="form-email-dev")
				i.icon-asterisk
	.form-group.row
		div(class=labelCol)
			label(for="form-password-dev") Password
		div(class=inputCol)
			.input-group
				input#form-password-dev(type="password" required name="form-password-dev")
				i.icon-asterisk
	.form-group.row
		div(class=labelCol)
			label(for="form-confirm-password-dev") Confirm password
		div(class=inputCol)
			.input-group
				input#form-confirm-password-dev(type="password" required name="form-confirm-password-dev")
				i.icon-asterisk
	.form-group.row
		div(class=labelCol)
		div(class=inputCol)
			.recaptcha-block
				img(src="/img/recaptcha.png", alt="recaptcha placeholder")
	.form-group.row
		div(class=labelCol)
		div(class=inputCol)
			label.input-group
				input.sr-only#form-agreement-dev(type="checkbox" required name="form-agreement-dev")
				span.input-checkbox
					i.icon-check
				span.input-title I agree with 
					a(href="/privacy.html") privacy policy.

	.form-group.row
		div(class=labelCol)
		div(class=inputCol)
			button.btn(type="submit")
				i.icon-apply
				span Sign up

