form.form.form--signup.form--adv.needs-validation(novalidate)
	.row
		div(class=labelCol)
		div(class=inputCol)
			.invalid-feedback
	.form-group.row
		div(class=labelCol)
			label(for="form-email-adv") Email
		div(class=inputCol)
			.input-group
				input#form-email-adv(type="email" placeholder="johndoe@gmail.com" required)
				i.icon-asterisk
	.form-group.row
		div(class=labelCol)
			label(for="form-name-adv") Name
		div(class=inputCol)
			.input-group
				input#form-name-adv(type="text"  required)
				i.icon-asterisk
	.form-group.row
		div(class=labelCol)
			label(for="form-message-adv") Message
		div(class=inputCol)
			textarea(id="form-message-adv", placeholder="Hello there!", name="form-message-adv")
	.form-group.row
		div(class=labelCol)
		div(class=inputCol)
			.recaptcha-block
				img(src="/img/recaptcha.png", alt="recaptcha placeholder")

	.form-group.row
		div(class=labelCol)
		div(class=inputCol)
			button.btn(type="submit")
				i.icon-send
				span Send

